<div class='room-info-panel'>
  <div class="room-info-wrapper" id='room-name'>
    <strong><h3 class='room-info-text'>Party Name:</h3></strong><p><%= facade.name %></p>
  </div>

  <div class="room-info-wrapper" id='room-code'>
    <strong><h3 class='room-info-text'>Party Code:</h3></strong><p><%= facade.code %></p>
  </div>
</div>

<div class="player-container">
  <div id="host-album-art">
    <%= image_tag('album-loading.gif', class: 'album-artwork', id: 'album-art') %>
  </div>
  <div class="track-info">
    <h4 id="track-title">Welcome to Groovz!</h4>
    <p id="track-artist">Click 'Start Partying' to kick this off</p>
  </div>
  <div class="player-control-section hide" id='player-controls'>
    <div id="save-button">
      <img src="plus_template.png" alt="Plus-button" class="icon" id="save-track">
    </div>
    <div id="pause-play-button">
      <img src="pause-button.png" alt="Pause-play-button" class="icon" onclick="playSong()">
    </div>
    <div id="next-button">
      <img src="plus_template.png" alt="Plus-button" class="icon" onclick="skipSong()">
    </div>
  </div>
  <div id="start-party-button">
    <%= button_tag 'Start Partying', onclick: 'startPlayback()', class: 'btn btn-primary rounded' %>
    <%= button_tag 'Manual Control', onclick: 'showPlaybackControls()', class: 'btn btn-secondary rounded' %>
  </div>
</div>

<%= button_to 'Shut It Down', cancel_party_path, method: :delete, id: 'leave-party-button', class: 'btn btn-boxed' %>
<script type="text/javascript">
  const roomCode = '<%= facade.code %>'
</script>
